<div id="<%= dom_id post %>" class="card">

  <div class="card-image">
    <figure class="image is-4by3">
      <%
=begin%>
 <%= image_tag post.image %> 
<%
=end%>
      <%= image_tag post.image.attached? ? url_for(post.image) : 'default_image.png' %>
    </figure>
  </div>

   <div class="card-content py-3">
    <div class="media">
      <div class="media-content">
        <p class="is-size-4 has-text-weight-bold"><%= post.title %></p>
        <p class="subtitle is-6 mb-1">
        <%= link_to post.user.username, posts_path(username: post.user.username) %>
        </p>
        <%= link_to post.category.name, posts_path(category_id: post.category_id), class: 'tag is-primary' %>
        <p><%= post.created_at.strftime("نشر في %d/%m/%Y") %></p>
      </div>
    </div>

    <div class="content has-text-centered">
      <%= link_to "تفاصيل المقال", post, class: "button is-link is-small is-rounded" %>
      <% if user_signed_in? && current_user.id == post.user_id %>
         <%= link_to "تعديل المقال", edit_post_path(post), class: "button is-warning is-small is-rounded" %>
      <% end %>
    </div>

  </div>


</div>